{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "semi": true,
  "printWidth": 175,
  "trailingComma": "none",
  "endOfLine": "lf"
}
