@font-face {
  font-family: "DESG7";
  src: url("../resources/fonts/DSEG_v046/DSEG7Classic-Bold.woff2") format('woff2');
}
body {
  color: white;
  background: #272727;
  font-family: sans-serif;
}
#info {
  text-align: center;
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.controls svg {
  width: 50px;
  height: 50px;
  transition: opacity 0.25s ease;
  cursor: pointer;
}
.controls svg:hover {
  opacity: 0.75;
}
.controls svg:active {
  opacity: 0.5;
}
#time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 65px;
}
.display {
  font-family: "DESG7", sans-serif;
  font-size: 50px;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.background {
  opacity: 8%;
}

/* Settings Page Styles */
#settings {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 0.5em;
}
#settings div {
  display: flex;
  flex-direction: column;
}
.settings-title {
  font-size: 1.5rem;
  text-align: center;
}
.settings-section {
  width: 372px;
  min-height: 200px;
  margin: 0px -6px 0px -1px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid rgba(155, 155, 155, 1);
  border-top: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#backButtonContainer {
  right: -5px;
  top: -3px;
}
#backButton {
  margin: 0px 10px;
  width: fit-content;
}

/* Settings Navigation Styles */
.nav-tabs {
  font-size: 12px;
  width: 392px;
}
ul.nav {
  list-style-type: none;
  width: 100%;
  height: max-content;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
li.nav-item {
  flex-grow: 1;
  display: flex;
  align-content: center;
  margin: -1px;
  width: max-content;
  padding: 6px 10px;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(155, 155, 155, 1);
  color: rgba(155, 155, 155, 1);
  cursor: pointer;
  border-radius: 6px 6px 0px 0px;
  font-weight: 600;
}
li.nav-item:hover {
  color: rgba(255, 255, 255, 1);
}
.nav-item.active {
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(155, 155, 155, 1);
  border-bottom: 1px solid transparent;
}

/* Settings Form Styling */
input,
button,
textarea {
  border-radius: 0.5em;
  padding: 0.5em;
  border: none;
  color: white;
  background: #4d4d4d;
  font-size: 1em;
  outline: none;
  width: 180px;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
  overflow-y: hidden;
}
button {
  cursor: pointer;
}
button:hover {
  background-color: #5e5e5e;
}
button:active {
  background-color: #454545;
}
.colorInputContainer {
  flex-wrap: nowrap;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
}
.colorInputContainer input {
  padding: 2px;
  width: 30px;
  height: 30px;
  margin: 5px 10px !important;
}
.colorInputContainer .color-picker {
  max-width: 30px;
  padding: 0px !important;
  background-color: transparent;
}
.input-lockup {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.button-lockup {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.input-lockup input,
.input-lockup textarea,
.input-lockup label,
.input-lockup .label-div,
.colorInputContainer label,
.button-lockup button {
  margin: 5px;
}
.button-lockup button {
  padding: 0.5em 1em;
}
.form-submission {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px;
}
.form-submission button[type="submit"] {
  background-color: rgb(40,118,246);
  cursor: pointer;
  margin: auto;
}
.form-submission button[type="submit"]:hover {
  background-color: rgb(61, 131, 246);
}
.form-submission button[type="submit"]:active {
  /*background-color: rgb(109, 163, 250);*/
  background-color: rgb(12, 100, 244);
}

/* Styling shortcodes */
.hide {
  display: none !important;
}
.w-full {
  width: 100%;
}
.w-33 {
  width: 33%;
}
.w-auto {
  width: auto;
}
.w-170px {
  width: 170px;
}
.min-w-50 {
  min-width: 50%;
}
.min-w-170px {
  min-width: 170px;
}
.flex-wrap {
  flex-wrap: wrap;
}
.grow-1 {
  flex-grow: 1;
}
.shrink-1 {
  flex-shrink: 1;
}
.justify-center {
  justify-content: center;
}
.text-nowrap {
  white-space: nowrap;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.m-auto {
  margin: auto;
}
.my-0 {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.font-sm {
  font-size: 0.8em;
}
